doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title 404 Not Found
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style.
            .container {
                width: 88%;
                height: 100%;
                margin: auto;
            }
            .header {
                margin-top: 5%;
                text-align: center;
            }
    body
        .container
            .header
                h1 404 Not Found
                img(src='/images/nyancat.gif')
                p
                    i Nyan nyan nyan!!
