doctype html
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Admin Page
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/startbootstrap-simple-sidebar@4.1.1/css/simple-sidebar.css", rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js")
    body
        #wrapper
            include admin_sidebar.pug

            #page-content-wrapper
                .container-fluid
                    h1 Hackingcamp CTF admin site
                    P Hackingcamp 팀을 위한 관리자 페이지입니다. 해당 페이지에서는 문제 출제, 문제 관리, 사용자 관리, IP관리, DB설정 등이 가능합니다.
                    P Make sure to keep all page content within the 
                        code #page-content-wrapper
                        |.
                    a(href="#menu-toggle", class="btn btn-secondary", id="menu-toggle") Toggle Menu
                              
        script(type="text/javascript")
            | $("#menu-toggle").click(function(e) {
            |  e.preventDefault();
            |  $("#wrapper").toggleClass("toggled");
            | });