doctype html
html(lang="ko")
    head 
        meta(charset="utf-8")
        title Hackingcamp CTF
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/startbootstrap-simple-sidebar@4.1.1/css/simple-sidebar.css", rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js")
    body
        #wrapper
            include sidebar.pug


            #page-content-wrapper
                .container-fluid
                    h1 Hackingcamp CTF
                    p 이 사이트는 데몬팀의 ch4n3이 갈리고 갈려서 만들어지게 된 사이트입니다. 보신다면 R.I.P를 댓글로 남겨주세요
                    p 만약 해당 프레임워크가 맘에 드시면
                        a(href="https://github.com/ch4n3-yoon/nCTF") 여기
                        | 에 스타 좀 눌러주세요. (팔로우 감사합니다)
                    p Welcome to
                        code #Hackingcamp
                        |!!
                    a(href="#menu-toggle", class="btn btn-secondary", id="menu-toggle") Toggle Menu
                              
        script(type="text/javascript")
            | $("#menu-toggle").click(function(e) {
            |  e.preventDefault();
            |  $("#wrapper").toggleClass("toggled");
            | });
