doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title ch4n3 world
        meta(name='viewport', content='width=device-width, initial-scale=1')
        style.
            .container {
                width: 88%;
                height: 100%;
                margin: auto;
            }
            .header {
                margin-top: 5%;
                text-align: center;
            }
    body
        .container
            .header
                h1 공 사 중
                img(src='/images/nyancat.gif')
                p
                    i 공사중이에요!
                    br
                    br
                    i 6월 17일에 열릴 예정이에요!
